/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*-- General Styling --*/
:root {
    background-color: aliceblue;
    box-sizing: border-box;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    --main-font-color: #f4f4f4;
    color: var(--main-font-color);
}

/*-- Navbar --*/
.nav {
    height: 7vh;
    background: black;
    border-bottom: 2px solid cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav a {
    color: var(--main-font-color);
    text-decoration: none;
}

/*-- Nav Animations --*/
.underline {
    padding: .5rem 1rem;
    position: relative;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    z-index: 1;
}   

.underline:after {
    content: '';
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1rem;
    left: 1rem;
    background-color: var(--main-font-color);
    transition: all .1s cubic-bezier(.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
}
    
.underline:hover {
    color: #2D2D2D;
}

.underline:hover:after {
    right: 0;
    left: 0;
    height: 100%;
}
 
/*-- Intro Section --*/
h1 {
    visibility: hidden;
}

.intro {
    height: 75vh;
    padding-top: 8%;
    text-align: center;
    font-size: 28pt;
    line-height: 32pt;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-bottom: 2px solid cornflowerblue;
}

.intro button {
    width: 10%;
    padding: .5%;
    font-weight: bold;
    margin: auto;
    border: 1px solid var(--main-font-color);
    color: var(--main-font-color);
    border-radius: 12px;
    background-color: transparent;
    transition: all 0.2s;
}

.intro button:hover {
    border: 1px solid black;
    color: black;
}

.intro span {
    font-weight: bold;
}

.cursor {
    animation: 1s blink step-end infinite;
  }

/*-- Intro Animations --*/
/* Landing BG */
@keyframes gradient { 
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Blinking Cursor */
@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: var(--main-font-color);
    }
}

/*-- About Section --*/
.about {
    background-color: gray;
    color: var(--main-font-color);
    padding: 1% 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about h2 {
    text-decoration: underline;
    font-size: 1.3rem;
    margin-bottom: 5%;
}

.about-content {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about li {
    padding: 3%;
    margin: 3%;
    border: 1px solid rgb(29, 226, 226);
    background: rgb(29, 226, 226, 0.5);
    
}

.skills {
    border-top: 1px solid var(--main-font-color);
    margin-top: 3%;
    padding: 2.5%;
}

.polaroid {
    height: 10%;
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2%;
    display: block;
}


/*-- Project Section --*/
.projects {
    background-color: orange;
    text-align: center;
    padding: 1%;
}

.projects h2 {
    font-size: 1.3rem;
    text-decoration: underline;
}

.projects-container {
    padding: 3%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.projects-container a {
    text-decoration: none;
    color: black;
    outline: 1px solid black;
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 1%;
}


/*-- Contact Section --*/


/*-- Footer --*/
footer {
    height: 7vh;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-top: 2px solid cornflowerblue;
}

footer a {
    color: var(--main-font-color);
    text-decoration: none;
    margin-left: 1%;
}

/*-- Mobile Design --*/
